<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit State</title>
</head>
<body>
  <h1>Edit State</h1>
  <form action="/edit-state/<%= state.id %>" method="POST">
    <label for="name">State Name:</label>
    <input type="text" id="name" name="name" value="<%= state.name %>" required>
    <br>
    <label for="countryId">Country:</label>
    <input type="text" id="countryId" name="countryId" value="<%= state.Country ? state.Country.name : 'N/A' %>" readonly>
    <br>
    <button type="submit">Update State</button>
  </form>
  <a href="/view-states">Back to States</a>
</body>
</html>