<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Company Details</title>
</head>
<body>

  <h1>All Registered Companies with Synarion Directory.</h1>

  <form action="/view-companies" method="GET">
    <label for="searchCompany">Search by Company Name:</label>
    <input type="text" id="searchCompany" name="searchCompany" placeholder="Enter company name" value="<%= searchCompany || '' %>">
    <button type="submit">Search</button>
  </form>

  <br>


  <ol>
    <% companies.forEach(function(company) { %>
      <li>
        <%= company.name %>
        <button onclick="window.location.href='/edit-company/<%= company.id %>'">Edit</button>
        <button onclick="window.location.href='/delete-company/<%= company.id %>'">Delete</button>
      </li> 
    <% }); %>
  </ol>

  <a href="/dashboard">Back to Dashboard</a>

</body>
</html>
